html {
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica;
}

/* Company Header */
.company {
  background-color: black;
  font-family: Helvetica;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 960px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-left: .5rem;
  margin-right: 1rem;
}
.logo h2 {
  font-size: 1rem;
  margin: .66rem 0;
}

/* Main background */
.main {
  background-image: url('../images/moto.jpeg');
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.sub-container {
  margin-top: 9rem;
  width: 960px;
  display: flex;
  justify-content: flex-start;
}
.new-arrivals {
  background-color: black;
  color: white;
  width: 20rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.new-arrivals h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 2rem;
}
.new-arrivals h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

/* Navigation Bar */
.nav-bar {
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar ul {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-family: Helvetica;
  margin: .75rem 0;
}

/* Products Locations & Hours Page */
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products {
  width: 960px;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.product img {
  width: 9.5rem;
  height: 9rem;
  padding: 2rem 1rem;
}
.product .p {
  width: 100%;
  color: white;
  font-family: Helvetica;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .p p {
  margin: .5rem 0;
}

.loc-hour {
  font-family: Helvetica;
  width: 960px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.locs-hours {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.loc-hour-box {
  padding: 1rem 2rem;
  margin-bottom: .25rem;
  color: white;
  background-color: black;
}

/* Footer */
footer {
  background-color: black;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cp-right {
  width: 960px;
  color: white;
  font-family: Helvetica;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
